@import "tailwindcss";

@theme {
  --color-primary: #ff6200;
  --color-primary-hover: #e65800;
  --color-background-light: #fafafa;
  --color-background-dark: #230f14;
  --color-parchment: #fff8f3;
  --color-gold: #FEB400; /* Amber from Design A to replace Gold for accents */
  --color-slate-gray: #4a4a4a; /* Graphite from A */

  --font-display: "Merriweather", serif;
  --font-body: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;

  --radius-none: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background-light);
  color: var(--color-slate-gray); /* default text color */
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-display);
}

.hover-bw:hover {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}